@{
    ViewData["Title"] = "Job Application Poster";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        h1 {
            color: maroon;
        }

        body {
            background-color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 18px;
            letter-spacing: 0px;
            word-spacing: 0px;
            color: #000000;
            font-weight: normal;
            text-decoration: none;
            font-style: normal;
            font-variant: normal;
            text-transform: none;
        }

        div.pushLeft {
            position: relative;
            left: -10%;
        }
    </style>
</head>
<body>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p></p>
    </div>

    <div class="pushLeft">
        <link rel="stylesheet" type="text/css" href="~/css/poster.css" />
        
        <h1>MSSA LAC27 Digital Job Application Poster</h1>
        <table>
            <tbody>
                <tr>
                    <td style="width: 35px;"></td>
                    <td style="width: 200px;"></td>
                    <td colspan="5">&nbsp;due: 3/13</td>
                    <td id="single" colspan="5">&nbsp;due: 3/20</td>
                    <td id="single" colspan="5">&nbsp;due: 3/27</td>
                    <td id="single" colspan="5">&nbsp;due: 4/3</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="text-center"><b>Name</b></td>
                    <td colspan="5">&nbsp;5 Applications</td>
                    <td id="single" colspan="5">&nbsp;10 Applications</td>
                    <td id="single" colspan="5">&nbsp;15 Applications</td>
                    <td id="single" colspan="5">&nbsp;20 Applications</td>
                </tr>
                <tr>
                    <td class="text-center">1</td>
                    <td>&nbsp; Benjamin</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr> <!-- 1 Benjamin -->
                <tr>
                    <td class="text-center">2</td>
                    <td>&nbsp; Daveena</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr> <!-- 2 Daveena -->
                <tr>
                    <td class="text-center">3</td>
                    <td>&nbsp; Demitrius</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr> <!-- 3 Demitrius -->
                <tr>
                    <td class="text-center">4</td>
                    <td>&nbsp; Elias</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr> <!-- 4 Elias -->
                <tr>
                    <td class="text-center">5</td>
                    <td>&nbsp; Emily</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr> <!-- 5 Emily -->
                <tr>
                    <td class="text-center">6</td>
                    <td>&nbsp; Franck</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr> <!-- 6 Franck -->
                <tr>
                    <td class="text-center">7</td>
                    <td>&nbsp; Hyoil</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr> <!-- 7 Hyoil -->
                <tr>
                    <td class="text-center">8</td>
                    <td>&nbsp; Kiran</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr> <!-- 8 Kiran -->
                <tr>
                    <td class="text-center">9</td>
                    <td>&nbsp; Paul</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr> <!-- 9 Paul -->
                <tr>
                    <td class="text-center">10</td>
                    <td>&nbsp; Raphael</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr> <!-- 10 Raphael -->
                <tr>
                    <td class="text-center">11</td>
                    <td>&nbsp; Raven</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr> <!-- 11 Raven -->
                <tr>
                    <td class="text-center">12</td>
                    <td>&nbsp; Taylor</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr> <!-- 12 Taylor -->
                <tr>
                    <td class="text-center">13</td>
                    <td>&nbsp; Thomas</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr> <!-- 13 Thomas -->
                <tr>
                    <td class="text-center">14</td>
                    <td>&nbsp; Tyler</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr> <!-- 14 Tyler -->
            </tbody>
        </table>
    </div>
</body>
</html>

