@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="text-center"><b>We don't store your data, period.</b></p>
<p class="text-center">We honestly have no use for it.</p>

<h1>Contact Us</h1>
<p>If you have any questions about this Privacy Policy, You can contact me:</p>
<ul>
    <li>By email: jobapplicationposter@outlook.com</li>
</ul>
